.landing{
    background-image: url("./background.png");
    background-color:black;
    height:100vh;
    background-size: contain;
    background-position: center 10%;
    background-repeat: no-repeat;
    width:-webkit-fill-available;
    background-attachment:fixed;
    color:white;
}

.top-nav{
    color: white;
    background-color: black;
}

.hello{
    background-color: #0e348b;
}

.about{
    background-color:black;
    color:white;
}
