.landing{
    background-image: url("./background.png");
    background-color:black;
    height:100vh;
    background-size: contain;
    background-position: center 10%;
    background-repeat: no-repeat;
    width:-webkit-fill-available;
    background-attachment:fixed;
}

